body {
    background-image: url(img/bg.jpg);
    background-size: cover;
    color: dimgray;
    font-size: 12px;
}

#container {
    margin: auto;
    margin-top: 100px;
    width: 550px;
}

#top {
    margin: 10px 0;
    text-align: right;
}

#top span {
    font-size: 10px;
}

#top a {
    margin: 3px;
}

#bottom {
    padding: 10px;
    background: rgba(255, 255, 255, 0.4);
}

#table {
    line-height: 40px;
    border-collapse: collapse;
    margin: auto;
}

#table td {
    padding: 5px;
    box-sizing: content-box;
    /*border: red solid 1px;*/
}
#username_note{
    width: 210px;
}
td span {
    color: red;
    margin-right: 3px;
}

td input {
    width: 200px;
}

#codeTb {
    border-collapse: collapse;
    box-sizing: content-box;
}

#codeTb td {
    margin: auto;
    padding: 0;
}

#codeInput {
    width: 70px;
}

#codeBtn {
    margin-left: 10px;
    width: 120px;
    color: white;
    background: cadetblue;
}

#cb input {
    width: auto;
}

#cb span {
    color: blue;
}

#submitBtn {
    line-height: 30px;
    width: 100%;
    font-size: 15px;
    color: white;
    background: cadetblue;
}

.icon{
    height: 15px;
    width: 15px;
}